
<h2>Login: </h2>
<hr>

<form autocomplete="off" (ngSubmit)="ingresar(forma)" #forma="ngForm">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">DNI</label>
            <div class="col-8">
                <input class="form-control" 
                       type="text"
                       name="dni"
                       [class.is-invalid]="dni.invalid && dni.touched"
                       [ngModel]="usuario.dni"
                       placeholder="Introduzca un dni"
                       required
                       minlength="8"
                       maxlength="8"
                       #dni="ngModel">
                <small *ngIf="dni.invalid && dni.touched"
                    class="form-text text-danger">DNI invalido</small>
            </div>
        </div>
    </div>

    <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Ingresar
      </button>
    </div>
  </div>
</form>